<!doctype html>
<html>
    <head>
        {% if title %}
            <title>{{ title }} - Microblog</title>
        {% else %}
            <title>Welcome to Microblog!</title>
        {% endif %}
    </head>
    <body>
        <div>
            Microblog:
            <a href="{{ url_for('index') }}">Home</a>
            {% if current_user.is_anonymous %}
                <a href="{{ url_for('login') }}">Login</a>
            {% else %}
                <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        <hr>
        <!-- with запрашивает у flask все сообщения, которые были отправлены во flash -->
        <!-- после получения сообщения с использованием get_flashed_messages(), оно удаляется из очереди -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}  <!-- если они есть, то выводим их -->
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
